@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
}

input {
    color-scheme: dark;
}

body::-webkit-scrollbar {
    width: 8px;               
  }
  
  body::-webkit-scrollbar-track {
    color-scheme: dark;    
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #BEF264;   
    border-radius: 20px;       
  }

  .loader {
    width: 50px;
    height: 50px;
    border: 10px solid #fff;
    border-bottom-color: #BEF264;
    border-radius: 50%;
    animation: rotate 1.5s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }